.landing {
  display: grid;
  @media (min-width: 768px) {
    // height: calc(100vh - var(--height-nav));
    padding-top: var(--height-nav);
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
    align-items: center;

    hr {
      border: 1px solid var(--global-border-color);
      border-radius: 10px;
      height: 80%;
    }
  }
  @media (max-width: 767px) {
    // padding-top: var(--height-nav);
    grid-auto-flow: row;
    row-gap: 20px;
    // align-items: center;

    hr {
      border: 1px solid var(--global-border-color);
      border-radius: 10px;
      width: 80%;
      margin: auto;
    }
  }
}

.landing-page {
  .top-banner {
    padding: 3rem 20%;
    @media (max-width: 767px) {
      padding: 1rem 10%;
    }
    background-image: url(../../images/top-banner.svg),
      linear-gradient(to bottom, #004080, #0066cc);
    background-position: top, right;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    h1 {
      margin-bottom: 0;
      margin: 24px auto 0;
      font-size: 36px;
      font-weight: 500;
      line-height: 46px;
    }
    p {
      margin: 24px auto 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 4rem;
      line-height: 30px;
    }
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
  .about-oakui-section {
    padding: 3rem 20%;
    @media (max-width: 767px) {
      padding: 3rem 10%;
    }
    text-align: center;
    h2 {
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.6rem;
      padding: 0.5rem 0;
    }
  }
  .feature-oakui-section {
    background-image: url(../../images/lines-background.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 0, 100%;
    padding: 3rem 20%;
    @media (max-width: 767px) {
      padding: 3rem 10%;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    .feature {
      margin-bottom: 3rem;
      h2 {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6rem;
        margin-bottom: 1rem;
      }
      a {
        color: #06c;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6rem;
        text-decoration: none;
        &:hover {
          color: #004080;
          text-decoration: underline;
        }
      }
    }
    .images {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 5;
      display: block;
      @media (max-width: 767px) {
        display: none;
      }
      .image__laptop {
        height: 40%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        // background-image: url(../../images/laptop.svg);
      }
      .image__phone {
        position: relative;
        top: -120px;
        height: 25%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 32%;
        // background-image: url(../../images/phone.svg);
      }
      .image__screen {
        position: relative;
        top: -225px;
        height: 25%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 60%;
        z-index: 2;
        // background-image: url(../../images/screen.svg);
      }
      .image__desktop {
        position: relative;
        top: -300px;
        height: 42%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 42%;
        // background-image: url(../../images/desktop.svg);
      }
    }
  }
  .fundamentals-oakui-section {
    background-position-x: 100%, 100%;
    background-position-y: 0, 50%;
    background-repeat: no-repeat;
    background-image: url(../../images/principles-background.svg),
      linear-gradient(180deg, #06c, #004080);
    padding: 2rem 20%;
    @media (max-width: 767px) {
      padding: 2rem 10%;
    }
    color: #ffffff;
    background-color: #ffffff;
    .fundamentals-header {
      padding: 4rem 0;
      text-align: center;
      h2 {
        font-size: 36px;
        font-weight: 500;
        line-height: 46px;
        margin-bottom: 5rem;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6rem;
        padding: 0.5rem 0;
      }
    }
    .fundamentals {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 20px;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        row-gap: 20px;
      }
      img {
        margin-right: 64px;
        flex-shrink: 0;
        width: 93px;
        text-align: center;
      }
      h2 {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: left;
        margin-bottom: 0.75rem;
      }
      p {
        font-size: 1.1rem;
        line-height: 1.6rem;
        margin-bottom: 4rem;
        text-align: left;
      }
    }
    .link {
      margin-bottom: 1rem;
      a {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6rem;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-oakui-section {
    padding: 2rem 20%;
    @media (max-width: 767px) {
      padding: 2rem 10%;
    }
    display: grid;
    grid-template-columns: 8fr 4fr;
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
    .footer-links {
      padding: 1rem 1rem 0 0;
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 1rem;
      h3 {
        margin: 0;
        padding: 6px 0;
        font-weight: 700 !important;
        font-size: 14px !important;
        text-transform: uppercase;
      }
      ul {
        margin-top: 1rem;
        li {
          list-style: none;
          font-size: 0.9rem;
          padding: 0 0 16px;
          line-height: 1.3;
          margin-left: 0;
          padding-left: 0;
          padding-right: 10px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .footer-about {
      background-color: #00000040;
      padding: 2rem;
      h4 {
        margin-bottom: 1rem;
        text-transform: uppercase;
      }
    }
  }
  .copyright-oakui-section {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem 20%;
    @media (max-width: 767px) {
      padding: 2rem 5% 1rem;
    }
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      display: grid;
      text-align: left;
    }
    .right-text {
      display: flex;
      @media (max-width: 767px) {
        display: grid;
        gap: 0.5rem;
      }
      align-items: center;
      gap: 1.25rem;
      font-size: 0.8rem;
      img {
        height: 1rem;
        width: auto;
      }
    }
    ul {
      @media (max-width: 767px) {
        margin-top: 0.5rem;
      }
      li {
        font-size: 12px;
        list-style: none;
        float: left;
        border-right: 1px solid #ccc;
        padding: 0 0.5rem;
        text-decoration: underline;
        cursor: pointer;
        @media (max-width: 767px) {
          &:first-child {
            padding-left: 0;
          }
        }
        &:last-child {
          border: none;
          padding-right: 0;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.getting-started {
  display: grid;
  align-content: center;
  grid-auto-flow: row;
  row-gap: 50px;
  .getting-started--steps {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: flex-start;
    row-gap: 20px;
  }
  @media (min-width: 768px) {
    // height: calc(100vh - var(--height-nav) - 100px);
    overflow-y: auto;
  }
  padding: 50px 20px;
}

.list-assets,
.list-spaces {
  display: grid;
  padding: 20px 20px;
  align-content: center;
  grid-template-rows: auto auto;
  .list-assets--content,
  .list-spaces--content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    overflow-y: auto;
    align-items: flex-start;
  }
  @media (min-width: 768px) {
    // height: calc(100vh - var(--height-nav) - 100px);
  }
}

.asset-list-item,
.space-list-item {
  // background-color: ;
  padding: 20px 40px;
  // box-shadow: ;
  .asset-list-item--link,
  .space-list-item--link {
    display: flex;
  }
  border-left: 6px solid transparent;

  &:hover {
    cursor: pointer;
    border-left: 6px solid var(--color-primary);
  }
}
