.oak-image-upload__container {
  width: 200px;
  height: auto;
}
.oak-image-upload__container__noimage {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-1);
}
img {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.oak-image-upload__action {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
