* {
  --formelement-height: 36px;
  --formelement-border-radius: 4px;
  .theme_dark {
    --formelement-color-bg: #2b3858;
    --formelement-color-bg-active: #37466b;
    --formelement-color-bg-highlight: #2b3858;
    --formelement-color-bg-disabled: #3c455c;
    --formelement-color-fg: #fff;
    --formelement-color-fg-active: #fff;
    --formelement-color-fg-highlight: #fff;
    --formelement-color-fg-disabled: #ccc;
    --formelement-color-label: #f1f1f1;
    --formelement-color-placeholder: #f1f1f1;
    --formelement-outline-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    --formelement-outline-border-color: rgba(0, 123, 255, 1);
    --formelement-outline-box-shadow-error: 0 0 0 0.2rem rgba(167, 40, 40, 0.25);
  }

  .theme_light {
    --formelement-color-bg: #f7f8f9;
    --formelement-color-bg-active: #fff;
    --formelement-color-bg-highlight: #f0f0f0;
    --formelement-color-bg-disabled: #f7f8f9;
    --formelement-color-fg: #000;
    --formelement-color-fg-active: #000;
    --formelement-color-fg-highlight: #00;
    --formelement-color-fg-disabled: #2f3136;
    --formelement-color-label: #292b2f;
    --formelement-color-placeholder: #292b2f;
    --formelement-outline-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    --formelement-outline-border-color: rgba(0, 123, 255, 1);
    --formelement-outline-box-shadow-error: 0 0 0 0.2rem rgba(167, 40, 40, 0.25);
  }
}
