$color-light-primary: #4b8ca6;
$color-light-secondary: #d9ae5f;
$color-dark-tertiary: #3abead;
$color-light-tertiary: #3abead;
$color-dark-default: #cdd1d6;
$color-light-default: #5c6d85;
$color-dark-info: #434f61;
$color-light-info: #dee2e7;
$color-dark-danger: #db504a;
$color-light-danger: #db504a;
$color-dark-warning: #ff6f59;
$color-light-warning: #ff6f59;
$color-dark-success: #4cceac;
$color-light-success: #4cceac;

* {
  --color-global-dark: #141b2d;
  --color-global-light: #fbfcfd;
  .theme_dark {
    // Grey color schemes for background and foreground text
    --color-global: #141b2d;
    --color-container: #1f2940;
    --color-surface: #2b3858;
    --color-i1: #ffffff;
    --color-i2: #ffffff;
    --color-i3: #ffffff;
    // Variables that control the theme colors
    --color-primary: #4b8ca6;
    --color-primary-i: #fcfcfc;
    --color-primary-darker: #629fb8;
    --color-primary-darker-i: #fcfcfc;
    --color-primary-lighter: #3e748a;
    --color-primary-lighter-i: #fcfcfc;
    --color-primary-semitransparent1: rgba(75, 140, 166, 0.2);
    --color-primary-semitransparent1-i: #fcfcfc;
    --color-primary-semitransparent2: rgba(75, 140, 166, 0.5);
    --color-primary-semitransparent2-i: #fcfcfc;
    --color-secondary: #d9ae5f;
    --color-secondary-i: #0f0f0f;
    --color-secondary-darker: #e1bf80;
    --color-secondary-darker-i: #0f0f0f;
    --color-secondary-lighter: #d19d3e;
    --color-secondary-lighter-i: #0f0f0f;
    --color-secondary-semitransparent1: rgba(217, 174, 95, 0.2);
    --color-secondary-semitransparent1-i: #0f0f0f;
    --color-secondary-semitransparent2: rgba(217, 174, 95, 0.5);
    --color-secondary-semitransparent2-i: #0f0f0f;
    --color-tertiary: #3abead;
    --color-tertiary-i: #0f0f0f;
    --color-tertiary-darker: #56cbbc;
    --color-tertiary-darker-i: #0f0f0f;
    --color-tertiary-lighter: #309f91;
    --color-tertiary-lighter-i: #0f0f0f;
    --color-tertiary-semitransparent1: rgba(58, 190, 173, 0.2);
    --color-tertiary-semitransparent1-i: #0f0f0f;
    --color-tertiary-semitransparent2: rgba(58, 190, 173, 0.5);
    --color-tertiary-semitransparent2-i: #0f0f0f;
    --color-default: #cdd1d6;
    --color-default-i: #0f0f0f;
    --color-default-darker: #e3e6e8;
    --color-default-darker-i: #0f0f0f;
    --color-default-lighter: #b7bcc4;
    --color-default-lighter-i: #0f0f0f;
    --color-default-semitransparent1: rgba(205, 209, 214, 0.2);
    --color-default-semitransparent1-i: #0f0f0f;
    --color-default-semitransparent2: rgba(205, 209, 214, 0.5);
    --color-default-semitransparent2-i: #0f0f0f;
    --color-info: #434f61;
    --color-info-i: #fcfcfc;
    --color-info-darker: #546379;
    --color-info-darker-i: #fcfcfc;
    --color-info-lighter: #323b49;
    --color-info-lighter-i: #fcfcfc;
    --color-info-semitransparent1: rgba(67, 79, 97, 0.2);
    --color-info-semitransparent1-i: #fcfcfc;
    --color-info-semitransparent2: rgba(67, 79, 97, 0.5);
    --color-info-semitransparent2-i: #fcfcfc;
    --color-danger: #db504a;
    --color-danger-i: #fcfcfc;
    --color-danger-darker: #e2716c;
    --color-danger-darker-i: #fcfcfc;
    --color-danger-lighter: #d2312a;
    --color-danger-lighter-i: #fcfcfc;
    --color-danger-semitransparent1: rgba(219, 80, 74, 0.2);
    --color-danger-semitransparent1-i: #fcfcfc;
    --color-danger-semitransparent2: rgba(219, 80, 74, 0.5);
    --color-danger-semitransparent2-i: #fcfcfc;
    --color-warning: #ff6f59;
    --color-warning-i: #0f0f0f;
    --color-warning-darker: #ff9282;
    --color-warning-darker-i: #0f0f0f;
    --color-warning-lighter: #ff4c30;
    --color-warning-lighter-i: #0f0f0f;
    --color-warning-semitransparent1: rgba(255, 111, 89, 0.2);
    --color-warning-semitransparent1-i: #0f0f0f;
    --color-warning-semitransparent2: rgba(255, 111, 89, 0.5);
    --color-warning-semitransparent2-i: #0f0f0f;
    --color-success: #4cceac;
    --color-success-i: #0f0f0f;
    --color-success-darker: #6cd7bb;
    --color-success-darker-i: #0f0f0f;
    --color-success-lighter: #34bd99;
    --color-success-lighter-i: #0f0f0f;
    --color-success-semitransparent1: rgba(76, 206, 172, 0.2);
    --color-success-semitransparent1-i: #0f0f0f;
    --color-success-semitransparent2: rgba(76, 206, 172, 0.5);
    --color-success-semitransparent2-i: #0f0f0f;
  }

  .theme_light {
    // Grey color schemes for background and foreground text
    --color-global: #fbfcfd;
    --color-container: #f7f8f9;
    --color-surface: #ffffff;
    --color-i1: #202225;
    --color-i2: #202225;
    --color-i3: #202225;
    // Variables that control the theme colors
    --color-primary: #4b8ca6;
    --color-primary-i: #fcfcfc;
    --color-primary-darker: #3e748a;
    --color-primary-darker-i: #fcfcfc;
    --color-primary-lighter: #629fb8;
    --color-primary-lighter-i: #fcfcfc;
    --color-primary-semitransparent1: rgba(75, 140, 166, 0.2);
    --color-primary-semitransparent1-i: #fcfcfc;
    --color-primary-semitransparent2: rgba(75, 140, 166, 0.5);
    --color-primary-semitransparent2-i: #fcfcfc;
    --color-secondary: #d9ae5f;
    --color-secondary-i: #0f0f0f;
    --color-secondary-darker: #d19d3e;
    --color-secondary-darker-i: #0f0f0f;
    --color-secondary-lighter: #e1bf80;
    --color-secondary-lighter-i: #0f0f0f;
    --color-secondary-semitransparent1: rgba(217, 174, 95, 0.2);
    --color-secondary-semitransparent1-i: #0f0f0f;
    --color-secondary-semitransparent2: rgba(217, 174, 95, 0.5);
    --color-secondary-semitransparent2-i: #0f0f0f;
    --color-tertiary: #3abead;
    --color-tertiary-i: #0f0f0f;
    --color-tertiary-darker: #309f91;
    --color-tertiary-darker-i: #0f0f0f;
    --color-tertiary-lighter: #56cbbc;
    --color-tertiary-lighter-i: #0f0f0f;
    --color-tertiary-semitransparent1: rgba(58, 190, 173, 0.2);
    --color-tertiary-semitransparent1-i: #0f0f0f;
    --color-tertiary-semitransparent2: rgba(58, 190, 173, 0.5);
    --color-tertiary-semitransparent2-i: #0f0f0f;
    --color-default: #cdd1d6;
    --color-default-i: #0f0f0f;
    --color-default-darker: #b7bcc4;
    --color-default-darker-i: #0f0f0f;
    --color-default-lighter: #e3e6e8;
    --color-default-lighter-i: #0f0f0f;
    --color-default-semitransparent1: rgba(205, 209, 214, 0.2);
    --color-default-semitransparent1-i: #0f0f0f;
    --color-default-semitransparent2: rgba(205, 209, 214, 0.5);
    --color-default-semitransparent2-i: #0f0f0f;
    --color-info: #434f61;
    --color-info-i: #fcfcfc;
    --color-info-darker: #323b49;
    --color-info-darker-i: #fcfcfc;
    --color-info-lighter: #546379;
    --color-info-lighter-i: #fcfcfc;
    --color-info-semitransparent1: rgba(67, 79, 97, 0.2);
    --color-info-semitransparent1-i: #fcfcfc;
    --color-info-semitransparent2: rgba(67, 79, 97, 0.5);
    --color-info-semitransparent2-i: #fcfcfc;
    --color-danger: #db504a;
    --color-danger-i: #fcfcfc;
    --color-danger-darker: #d2312a;
    --color-danger-darker-i: #fcfcfc;
    --color-danger-lighter: #e2716c;
    --color-danger-lighter-i: #fcfcfc;
    --color-danger-semitransparent1: rgba(219, 80, 74, 0.2);
    --color-danger-semitransparent1-i: #fcfcfc;
    --color-danger-semitransparent2: rgba(219, 80, 74, 0.5);
    --color-danger-semitransparent2-i: #fcfcfc;
    --color-warning: #ff6f59;
    --color-warning-i: #0f0f0f;
    --color-warning-darker: #ff4c30;
    --color-warning-darker-i: #0f0f0f;
    --color-warning-lighter: #ff9282;
    --color-warning-lighter-i: #0f0f0f;
    --color-warning-semitransparent1: rgba(255, 111, 89, 0.2);
    --color-warning-semitransparent1-i: #0f0f0f;
    --color-warning-semitransparent2: rgba(255, 111, 89, 0.5);
    --color-warning-semitransparent2-i: #0f0f0f;
    --color-success: #4cceac;
    --color-success-i: #0f0f0f;
    --color-success-darker: #34bd99;
    --color-success-darker-i: #0f0f0f;
    --color-success-lighter: #6cd7bb;
    --color-success-lighter-i: #0f0f0f;
    --color-success-semitransparent1: rgba(76, 206, 172, 0.2);
    --color-success-semitransparent1-i: #0f0f0f;
    --color-success-semitransparent2: rgba(76, 206, 172, 0.5);
    --color-success-semitransparent2-i: #0f0f0f;
  }
}
