.topbar-container {
  position: fixed;
  height: var(--height-nav);
  transition: left 200ms cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  z-index: 1;
  &.sidebar-hidden {
    left: 0px;
    // margin-left: -250px;
  }
  &.sidebar-shown {
    left: 250px;
    @media (max-width: 767px) {
      // width: calc(100vw - 250px);
      // margin-left: 0px;
      visibility: hidden;
    }
  }
}
