// .click-area-content {
.click-area-content__one,
.click-area-content__two,
.click-area-content__three {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
}
.click-area-content__one {
  background-color: var(--color-global);
  color: var(--color-global-i);
  border: 1px solid var(--color-container);
  &:hover {
    // background-color: var(--color-primary);
    // color: var(--color-primary-i);
    border: 1px solid var(--color-primary);
  }
}
.click-area-content__two {
  background-color: var(--color-surface);
  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-secondary-i);
  }
}
.click-area-content__three {
  background-color: var(--color-container);
  border-left: 4px solid transparent;
  &:hover {
    border-left: 4px solid var(--color-primary);
  }
}
// }

.click-area-content {
  // border: 1px solid var(--color-primary);
  // border-radius: 10px;
  // overflow: hidden;
}
